@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
:root{
    --main-bg: #11b090;
    --sec-bg: #455053;
    --danger:red;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--sec-bg);
}
.container{
    position: relative;
    width:276px;
    height: 276px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container span{
    position: absolute;
    left:0;
    width: 32px;
    height: 6px;
    background: #3c3c3c;
    border-radius:8px;
    transform-origin: 128px ;
    transform: scale(2.2) rotate(calc(var(--i)*(360deg/50)));
    animation: animateBlink 3s linear infinite;
    animation-delay:calc(var(--i)*(3s/50)) ;
}
@keyframes animateBlink {
    0%{
        background: var(--main-bg);
    }
    90%{
        background: #2c4766;
    }
}
.login-box{
    position: relative;
    width: 400px;
    transition:.5s;
    /* background: red; */
}
.login-box form{
    width: 100%;
    padding: 0 5px;
}
h2{
    font-size: 2em;
    color: var(--main-bg);
    text-align: center;
}
.input-box{
    position: relative;
    margin:25px 0;  
}
.input-box i{
    position: absolute;
    right: 14px;
    color: #fff;
    font-size: 1em;
    top: 20px;
}
/* .input-box.error input {
    background: transparent;
    border-color: var(--danger);
} */
.input-box small {
    color: var(--danger);
    position: absolute;
    bottom: 0;
    left: 8px;
    visibility: hidden;
}
.input-box.error small {
    visibility: visible;
}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid #3c4b50;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color:#fff;
    transition:.5s ease;
}
.input-box input:focus,
.input-box input:valid{
    border-color:var(--main-bg) !important;
}
.input-box label{
    position: absolute;
    top:50%;
    left:20px;
    transform: translateY(-50%);
    font-size: 1em;
    color:#fff;
    pointer-events: none;
    transition:.5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top:-5px;
    font-size: .8em;
    background: var(--sec-bg);
    padding: 0 6px;
    color:var(--main-bg);
}
.forgot-pass{
    margin: -15px 0 10px;
    text-align: center;
}
.forgot-pass a{
    font-size: .85em;
    color:#fff;
    text-decoration: none;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height:45px;
    /* background: #0ef; */
    background: var(--main-bg);
    border: none;
    outline: none;
    border-radius: 40px;
    cursor:pointer;
    font-size: 1em;
    color:#1f293a;
    font-weight: 600;
}
.signup-link{
    margin:20px 0 10px;
    text-align: center;
}
.signup-link a{
    font-size: 1em;
    color: var(--main-bg);
    text-decoration: none;
    font-weight: 600;
}
.signup-link a:hover{
    text-decoration: underline;
}