.container{
	display: flex;
    float:left;
}
.sidebar{
	width: 25%;
	height: 100vh;
	padding: 20px 0;
    text-align: center;
	background-color: var(--sec-bg);
	position: fixed;
}
.sidebar>h2{
	color: var(--main-bg);
	animation: heartBeat;
  	animation-duration: 3s;
	animation-delay:1s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
.filter{
	margin-top: 25px;
	padding: 0 40px;
}
.filter h3{
	color:white;
	margin-bottom: 6px;
}
.filter-btns{
	padding: 15px 15px;
	background-color: white;
	margin: 7px 0;
	cursor: pointer;
	color: #333;
	border-left: 8px solid var(--main-bg);
	background: linear-gradient(to right, #d1d0d0 50%, white 50%);
	background-size: 200% 100%;
  	background-position: right bottom;
	transition: all 0.5s ease-out;
	/* text-align: justify; */
}
.filter-btns:hover{
	font-weight: bold;
	background-position: left bottom;
	color: var(--main-bg);
}
button{
	width: 100%;
	position: relative;
	border: none;
	border-radius: 5px;
	background-color: #aaa;
	padding: 7px 25px;
	cursor: pointer;
	color: white;
}
.footer{
	margin:1.2rem auto;
}
.footer p{
	color:whitesmoke;
}
.footer p a{
	color:var(--main-bg);
	text-decoration:none;
}